@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

.button-remove {
  background: tomato;
  margin-bottom: 1em; }

.button-create {
  background: green;
  margin-bottom: 1em; }

.button-add {
  margin-bottom: 1em; }

fieldset {
  background-color: transparent;
  border: 1px solid #DDD;
  margin: 0 0 0.75em;
  padding: 1.5em; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

article.type-system-rounded {
  font-family: "Nunito", sans-serif;
  text-align: left; }
  article.type-system-rounded::after {
    clear: both;
    content: "";
    display: table; }
  article.type-system-rounded h1, article.type-system-rounded h2, article.type-system-rounded h3, article.type-system-rounded p {
    margin: 0; }
  article.type-system-rounded hr {
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0; }
  article.type-system-rounded p {
    color: #333;
    line-height: 1.5; }
  article.type-system-rounded a {
    color: #1565c0;
    text-decoration: none; }
  article.type-system-rounded .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 0.3em 0;
    text-align: left;
    text-transform: uppercase; }
  article.type-system-rounded h1 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.8em;
    margin-bottom: 0.5em; }
    @media screen and (min-width: 40em) {
      article.type-system-rounded h1 {
        font-size: 2.4em; } }
  article.type-system-rounded h2 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 0.9em; }
    @media screen and (min-width: 40em) {
      article.type-system-rounded h2 {
        font-size: 1.4em; } }
  article.type-system-rounded code {
    background: #F7F7F7;
    border-radius: 4.5px;
    border: 1px solid #E0E0E0;
    font-family: monaco;
    font-size: 0.7em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap; }
  article.type-system-rounded h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0.4em; }
  article.type-system-rounded p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: "Nunito", sans-serif;
    font-size: 0.9em;
    margin-bottom: 0.3em; }
  article.type-system-rounded p {
    font-family: "Nunito", sans-serif;
    font-size: 1.05em;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 1.5em; }
    article.type-system-rounded p span {
      font-family: "Varela Round", sans-serif;
      font-size: 0.8em;
      text-transform: uppercase; }
  article.type-system-rounded a.read-more {
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase; }
    article.type-system-rounded a.read-more span {
      font-size: 1.5em;
      position: absolute;
      right: -12px;
      top: -1px; }
  article.type-system-rounded hr {
    width: 3em; }
  article.type-system-rounded p.author {
    font-family: "Nunito", sans-serif; }

.image-gradient-dynamic {
  line-height: 0;
  position: relative;
  width: 100%; }
  .image-gradient-dynamic img {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%; }
  .image-gradient-dynamic .copy {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 999; }
    .image-gradient-dynamic .copy p {
      color: white;
      line-height: 1.5em;
      padding: 1em 2em;
      position: relative; }
  .image-gradient-dynamic .overlay {
    background-color: rgba(255, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(-270deg, rgba(255, 0, 0, 0.1), rgba(0, 128, 0, 0.4));
    background-image: linear-gradient(0deg,rgba(255, 0, 0, 0.1), rgba(0, 128, 0, 0.4));
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; }
    .image-gradient-dynamic .overlay:after {
      background-color: rgba(0, 128, 128, 0.2);
      background-image: -webkit-linear-gradient(-360deg, rgba(0, 128, 128, 0.2), rgba(255, 255, 0, 0.2));
      background-image: linear-gradient(90deg,rgba(0, 128, 128, 0.2), rgba(255, 255, 0, 0.2));
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      content: '';
      display: block; }

body {
  background: white; }

section .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  section .container::after {
    clear: both;
    content: "";
    display: table; }
  section .container .aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section .container .aside:last-child {
      margin-right: 0; }
  section .container .fa {
    color: #5D737E; }

.grid-items::after {
  clear: both;
  content: "";
  display: table; }

.grid-items .grid-item {
  background: #3567a0;
  border-bottom: 9px solid #fff;
  border-left: 4.5px solid #fff;
  border-right: 4.5px solid #fff;
  border-top: 0;
  cursor: pointer;
  float: left;
  height: 16em;
  outline: none;
  overflow: hidden;
  padding: .5em 2em 2em 2em;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 100%; }
  @media screen and (min-width: 53.75em) {
    .grid-items .grid-item {
      width: 33.33333%; } }
  .grid-items .grid-item:nth-child(1) {
    background-color: #3567a0;
    box-shadow: inset 0 0 1px 2px #284e7a; }
    .grid-items .grid-item:nth-child(1):focus, .grid-items .grid-item:nth-child(1):hover {
      background-color: #284e7a;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover; }
  .grid-items .grid-item:nth-child(2) {
    background-color: tomato;
    box-shadow: inset 0 0 1px 2px #ff3814; }
    .grid-items .grid-item:nth-child(2):focus, .grid-items .grid-item:nth-child(2):hover {
      background-color: #ff3814;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover; }
  .grid-items .grid-item:nth-child(3) {
    background-color: #72BFBF;
    box-shadow: inset 0 0 1px 2px #4fafaf; }
    .grid-items .grid-item:nth-child(3):focus, .grid-items .grid-item:nth-child(3):hover {
      background-color: #4fafaf;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover; }
  .grid-items .grid-item:nth-child(4) {
    background-color: #92B1E3;
    box-shadow: inset 0 0 1px 2px #6994d9; }
    .grid-items .grid-item:nth-child(4):focus, .grid-items .grid-item:nth-child(4):hover {
      background-color: #6994d9;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover; }
  .grid-items .grid-item:nth-child(5) {
    background-color: #E3D743;
    box-shadow: inset 0 0 1px 2px #d4c620; }
    .grid-items .grid-item:nth-child(5):focus, .grid-items .grid-item:nth-child(5):hover {
      background-color: #d4c620;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover; }
  .grid-items .grid-item:nth-child(6) {
    background-color: #CCC;
    box-shadow: inset 0 0 1px 2px #b3b3b3; }
    .grid-items .grid-item:nth-child(6):focus, .grid-items .grid-item:nth-child(6):hover {
      background-color: #b3b3b3;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover; }
  .grid-items .grid-item:nth-child(7) {
    background-color: #F6C05C;
    box-shadow: inset 0 0 1px 2px #f3ad2c; }
    .grid-items .grid-item:nth-child(7):focus, .grid-items .grid-item:nth-child(7):hover {
      background-color: #f3ad2c;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover; }

.grid-items .grid-item img {
  display: block;
  height: 3em;
  margin: 0 auto 1em; }

.grid-items .grid-item h1 {
  color: white;
  font-size: 1.3em;
  margin-bottom: 0.4em; }

.grid-items .grid-item h2 {
  margin-top: 0;
  font-size: 1.4em;
  color: #222 !important;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px; }

.grid-items .grid-item p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5em;
  margin: auto; }
  @media screen and (min-width: 40em) {
    .grid-items .grid-item p {
      max-width: 70%; } }

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-big {
    width: 66.66667%; } }

@media screen and (min-width: 40em) {
  .grid-items .grid-item-big p {
    max-width: 60%; } }

.grid-items .grid-item-image {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  background-color: #3567a0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.ind-questions::after {
  clear: both;
  content: "";
  display: table; }

.ind-questions .ind-question {
  background: rgba(227, 215, 67, 0.1);
  border-bottom: 9px solid #FFF;
  border-left: 4.5px solid #FFF;
  border-right: 4.5px solid #FFF;
  border-top: 0;
  cursor: pointer;
  float: left;
  height: 18em;
  outline: none;
  overflow: auto;
  padding: 2em;
  text-align: left;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 100%; }
  @media screen and (min-width: 53.75em) {
    .ind-questions .ind-question {
      width: 25%; } }
  .ind-questions .ind-question:focus, .ind-questions .ind-question:hover {
    background-color: #f7f3c8;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }

.ind-questions .ind-question h1 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 0.4em; }

.ind-questions .ind-question p {
  color: #555;
  line-height: 1.5em;
  margin: auto; }
  @media screen and (min-width: 40em) {
    .ind-questions .ind-question p {
      max-width: 70%; } }

.centered-navigation {
  background-color: #333;
  border-bottom: 1px solid #242424;
  min-height: 60px;
  width: 100%;
  z-index: 9999; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: 0.6;
      padding: 0.8em 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-mobile-menu {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #FCFCFC; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .centered-navigation ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .centered-navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        color: #FCFCFC; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.6; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link {
        padding-right: 1em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 1em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(255, 255, 255, 0.7);
      content: "\25BE"; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 1em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      .centered-navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .centered-navigation li.more:focus > .submenu,
    .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation ul.submenu li {
          line-height: 46.15385px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      .centered-navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

form.search-bar {
  position: relative; }
  form.search-bar input[type=search] {
    appearance: none;
    background-color: white;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: 0.5em 0.5em;
    position: relative;
    transition: border-color;
    width: 100%; }
  form.search-bar button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    outline: none;
    padding: 5px 10px; }
    form.search-bar button[type=submit] img {
      height: 12px;
      opacity: 0.7; }

.flex-boxes {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .flex-boxes::after {
    clear: both;
    content: "";
    display: table; }
  .flex-boxes .flex-box {
    align-self: stretch;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e6e6;
    display: block;
    flex: 2 2 15em;
    margin: 0.4em;
    padding: 1em 2em 1em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }
    .flex-boxes .flex-box:nth-child(1) {
      border-top: 6px solid #92B1E3; }
      .flex-boxes .flex-box:nth-child(1):focus, .flex-boxes .flex-box:nth-child(1):hover {
        background-color: rgba(146, 177, 227, 0.1); }
    .flex-boxes .flex-box:nth-child(2) {
      border-top: 6px solid #E3D743; }
      .flex-boxes .flex-box:nth-child(2):focus, .flex-boxes .flex-box:nth-child(2):hover {
        background-color: rgba(227, 215, 67, 0.1); }
    .flex-boxes .flex-box:nth-child(3) {
      border-top: 6px solid #CCC; }
      .flex-boxes .flex-box:nth-child(3):focus, .flex-boxes .flex-box:nth-child(3):hover {
        background-color: rgba(204, 204, 204, 0.1); }
    .flex-boxes .flex-box:nth-child(4) {
      border-top: 6px solid tomato; }
      .flex-boxes .flex-box:nth-child(4):focus, .flex-boxes .flex-box:nth-child(4):hover {
        background-color: rgba(255, 99, 71, 0.1); }
    .flex-boxes .flex-box:nth-child(5) {
      border-top: 6px solid #72BFBF; }
      .flex-boxes .flex-box:nth-child(5):focus, .flex-boxes .flex-box:nth-child(5):hover {
        background-color: rgba(114, 191, 191, 0.1); }
    .flex-boxes .flex-box:nth-child(6) {
      border-top: 6px solid #F6C05C; }
      .flex-boxes .flex-box:nth-child(6):focus, .flex-boxes .flex-box:nth-child(6):hover {
        background-color: rgba(246, 192, 92, 0.1); }
    .flex-boxes .flex-box img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4; }
    .flex-boxes .flex-box .flex-title {
      color: rgba(51, 51, 51, 0.7);
      font-size: 1.2em;
      margin-bottom: 0.5em; }
    .flex-boxes .flex-box p {
      color: rgba(51, 51, 51, 0.6);
      line-height: 1.5em;
      margin: auto; }
  .flex-boxes .flex-box-big {
    flex: 1 1 40em; }
  .flex-boxes .flex-box-mid {
    max-width: 90%; }
  .flex-boxes .flex-box-middle {
    max-width: 100%; }
    @media screen and (min-width: 53.75em) {
      .flex-boxes .flex-box-middle {
        max-width: 40%; } }
    @media screen and (min-width: 40em) {
      .flex-boxes .flex-box-middle {
        max-width: 50%; } }

.help-block {
  border: 1px solid red;
  margin: 1em;
  padding: 1em;
  height: 50px; }

.add-quiz {
  font-size: 1.4em;
  text-align: center; }

.font-red {
  color: tomato;
  font-style: italic; }

.side-image {
  margin-top: 1em;
  background: #F9F9F9; }
  @media screen and (min-width: 53.75em) {
    .side-image {
      display: table;
      width: 100%;
      table-layout: fixed; } }
  .side-image .images-wrapper {
    background: url("/images/echo_1.jpg"), linear-gradient(#B5EBEB, #5DAC5D), no-repeat #B5EBEB scroll;
    background-color: #B5EBEB;
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 3em; }
    @media screen and (min-width: 53.75em) {
      .side-image .images-wrapper {
        display: table-cell;
        width: 33.33333%;
        background-position: bottom;
        background-size: cover;
        border-right: white; } }
  .side-image .side-image-content {
    display: table-cell;
    width: 100%;
    padding: 1em 1em 4em 1em; }
    @media screen and (min-width: 53.75em) {
      .side-image .side-image-content {
        display: table-cell;
        width: 66.66667%;
        padding: 4em 4em 8em 4em; } }
    .side-image .side-image-content h1 {
      margin-bottom: 0.9em; }
    .side-image .side-image-content h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase; }
    .side-image .side-image-content p {
      color: #333;
      line-height: 1.5;
      margin-bottom: 3em; }

.animate-repeat {
  list-style: none;
  box-sizing: border-box; }

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear 0.3s; }

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  max-height: 18em; }

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1; }

.box-one {
  margin: 10px 0 20px 0;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: green;
  color: #fff;
  border-radius: 4px; }

.box-one.ng-hide-add {
  -webkit-animation: 0.5s hide;
  animation: 0.5s hide; }

@keyframes hide {
  0% {
    opacity: 1;
    transform: scale(1); }
  30% {
    transform: scale(1.02); }
  100% {
    opacity: 0;
    transform: scale(0.5); } }

@-webkit-keyframes hide {
  0% {
    opacity: 1;
    transform: scale(1); }
  30% {
    transform: scale(1.02); }
  100% {
    opacity: 0;
    transform: scale(0.5); } }

.box-one.ng-hide-remove {
  -webkit-animation: 0.3s show;
  animation: 0.3s show; }

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  70% {
    transform: scale(1.02); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@-webkit-keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  70% {
    transform: scale(1.02); }
  100% {
    opacity: 1;
    transform: scale(1); } }
