
    <section>  
        <br>
        Hello {{user.name}}

        Add a New Quiz!


        <form ng-submit="submit()">
                  <fieldset class="form-group">
                    <label for="quiz_name">Quiz Name</label>
                    <input name="quiz_name" type="text" class="form-control" id="quiz_name" ng-model="formData.quiz_name" placeholder="Quiz Name" required >
                  </fieldset>
                 
                 <fieldset class="form-group">
                   <label for="quiz_desc">Quiz Description</label>
                   <textarea name="quiz_desc" class="form-control" id="description" ng-model="formData.quiz_desc" rows="5" required></textarea>
                 </fieldset>

                  <fieldset class="form-group">
                    <label for="quiz_tags">Quiz Tags</label>
                    <input name="quiz_tags" type="text" class="form-control" id="quiz_tags" ng-model="formData.quiz_tags" placeholder="Enter at least one tag, comma separate others" required >
                  </fieldset>

                 <h3>You must add atleast <strong>1</strong> question to create a new quiz. <strong>Always start with the correct answer</strong> , it will be randomized during your Alexa quiz.</h3>
           
                  <div class="flex-boxes">
                      <a href="javascript:void(0)" class="flex-box flex-box-mid">
                       <h1 class="flex-title">Question {{CQ+1}}</h1>
                        <fieldset class="form-group">
                          <label for="question">Question </label>
                          <input name="question" type="text" class="form-control" id="question" ng-model="questionData.question" placeholder="Question" required>
                        </fieldset>


                        <fieldset class="form-group">
                          <label for="answer1">Answer 1</label>
                          <input name="a1" <input type="text" class="form-control" id="a1" ng-model="questionData.a1" placeholder ="answer 1" required >
                        </fieldset>

                      <fieldset class="form-group">
                         <label for="answer2">Answer 2</label>
                         <input name="a2" <input type="text" class="form-control" id="a2" ng-model="questionData.a2" placeholder ="answer 2" required >
                       </fieldset>

                       <fieldset class="form-group">
                         <label for="answer3">Answer 3</label>
                         <input name="a3" <input type="text" class="form-control" id="a3" ng-model="questionData.a3" placeholder ="answer 3" required >
                       </fieldset>

                      <fieldset class="form-group">
                         <label for="answer4">Answer 4</label>
                         <input name="a4" <input type="text" class="form-control" id="a4" ng-model="questionData.a4" placeholder ="answer 4" required >
                       </fieldset>
                  <!-- <quiz-question ng-model="questionData"></quiz-question> -->
                     <button class="addquestion" type="button" ng-click="addNewQuestion()">Add Another Question</button> <strong>OR</strong>

                      <button type="submit" class="button button_create" >Create Your Quiz</button>
  </a>
  <a href="javascript:void(0)" class="flex-box flex-box-mid">
                 <h1 class="flex-title">Questions You Have Added</h1>
                  <div ng-repeat="question in questions">
                         <h4>Question {{$index + 1}}</h4>
                         <fieldset class="form-group">
                           <label for="question">Question </label>
                           <input name="question" type="text" class="form-control" id="question" ng-model="question.question" placeholder="Question" required>
                         </fieldset>


                         <fieldset class="form-group">
                           <label for="answer1">Answer 1</label>
                           <input name="a1" <input type="text" class="form-control" id="a1" ng-model="question.a1" placeholder ="answer 1" required >
                         </fieldset>

                         <fieldset class="form-group">
                            <label for="answer2">Answer 2</label>
                            <input name="a2" <input type="text" class="form-control" id="a2" ng-model="question.a2" placeholder ="answer 2" required >
                          </fieldset>

                          <fieldset class="form-group">
                            <label for="answer3">Answer 3</label>
                            <input name="a3" <input type="text" class="form-control" id="a3" ng-model="question.a3" placeholder ="answer 3" required >
                          </fieldset>

                         <fieldset class="form-group">
                            <label for="answer4">Answer 4</label>
                            <input name="a4" <input type="text" class="form-control" id="a4" ng-model="question.a4" placeholder ="answer 4" required >
                          </fieldset>
<button class="button button_remove" type="button" ng-click="removeQuestion($index)"> Delete this Question</button>

                     </div>
<!-- 
                     <div>
                        {{ questions }}
                     </div>    
 -->
              </form>


  </a>
</div>

<!-- 
                  <h4>Question {{CQ+1}}</h4>
                  <fieldset class="form-group">
                    <label for="question">Question </label>
                    <input name="question" type="text" class="form-control" id="question" ng-model="questionData.question" placeholder="Question" required>
                  </fieldset>


                  <fieldset class="form-group">
                    <label for="answer1">Answer 1</label>
                    <input name="a1" <input type="text" class="form-control" id="a1" ng-model="questionData.a1" placeholder ="answer 1" required >
                  </fieldset>

                  <fieldset class="form-group">
                     <label for="answer2">Answer 2</label>
                     <input name="a2" <input type="text" class="form-control" id="a2" ng-model="questionData.a2" placeholder ="answer 2" required >
                   </fieldset>

                   <fieldset class="form-group">
                     <label for="answer3">Answer 3</label>
                     <input name="a3" <input type="text" class="form-control" id="a3" ng-model="questionData.a3" placeholder ="answer 3" required >
                   </fieldset>

                  <fieldset class="form-group">
                     <label for="answer4">Answer 4</label>
                     <input name="a4" <input type="text" class="form-control" id="a4" ng-model="questionData.a4" placeholder ="answer 4" required >
                   </fieldset>
                  <!-- <quiz-question ng-model="questionData"></quiz-question> -->
<!--                      <button class="addquestion" type="button" ng-click="addNewQuestion()">Add Another Question</button> OR

                      <button type="submit" class="btn btn-primary" >Create Your Quiz</button>
 -->


          </section>    