
    <section>  
       <br>
       <h3 class ="add-quiz">Hello {{user.name}}<br>
       Update fields below. Questions are all updated individually, as is quiz info.</h3>

    <div class="flex-boxes">
      <div class="flex-box flex-box-big">
        <form ng-submit="submit()">
                  <fieldset class="form-group">
                    <label for="quiz_name">Quiz Name</label>
                    <input name="quiz_name" type="text" class="form-control" id="quiz_name" ng-model="formData.quiz_name" required >
                  </fieldset>
                 
                 <fieldset class="form-group">
                   <label for="quiz_desc">Quiz Description</label>
                   <textarea name="quiz_desc" class="form-control" id="description" ng-model="formData.quiz_desc" rows="5" required></textarea>
                 </fieldset>

                  <fieldset class="form-group">
                    <label for="quiz_tags">Quiz Tags</label>
                    <input name="quiz_tags" type="text" class="form-control" id="quiz_tags" ng-model="formData.quiz_tags" required >
                  </fieldset>

                  <button type="submit" class="button button-add" ng-click="updateButton()">Update Quiz Info</button>

                  <button class="button button-remove" type="button" ng-click="deleteQuiz(formData.quiz_id)"> Delete this Quiz</button>

                  <div ng-show="updated" class="help-block">Quiz information has been Updated!</div>
           </form>
          </div>
        </div>    
               <div class="flex-boxes">
                <div class="flex-box flex-box-mid">
                 <h1 class="flex-title">Update Current Questions</h1>

                 <div ng-repeat="question in questions">
                    <form ng-submit="submitQ(question, question.quest_id)">
                       <h4>Question {{$index + 1}}</h4>
                       <fieldset class="form-group">
                         <label for="question">Question </label>
                         <input name="question" type="text" class="form-control" id="question" ng-model="question.question" placeholder="Question" required>
                       </fieldset>


                       <fieldset class="form-group">
                         <label for="answer1">Answer 1</label>
                         <input name="a1" <input type="text" class="form-control" id="a1" ng-model="question.a1" placeholder ="answer 1" required >
                       </fieldset>

                       <fieldset class="form-group">
                          <label for="answer2">Answer 2</label>
                          <input name="a2" <input type="text" class="form-control" id="a2" ng-model="question.a2" placeholder ="answer 2" required >
                        </fieldset>

                        <fieldset class="form-group">
                          <label for="answer3">Answer 3</label>
                          <input name="a3" <input type="text" class="form-control" id="a3" ng-model="question.a3" placeholder ="answer 3" required >
                        </fieldset>

                       <fieldset class="form-group">
                          <label for="answer4">Answer 4</label>
                          <input name="a4" <input type="text" class="form-control" id="a4" ng-model="question.a4" placeholder ="answer 4" required >
                        </fieldset>

                          <button class="button button-remove" type="button" ng-click="removeQuestion(question.quest_id, $index)"> delete this question</button>
                          
                          <button type="submit" class="button button-add" ng-click="updateButton()">Update Question Info</button>

                          <div ng-show="updated" class="help-block">Question {{$index + 1}} has been Updated!</div>
                      
                    </form>    
                 </div>
            </div>
            <div class="flex-box flex-box-mid">
              <h1 class="flex-title">Add a New Question</h1>
              <form ng-submit="addQ()" name="addQuestion">
                <fieldset class="form-group">
                      <label for="question">Question </label>
                      <input name="question" type="text" class="form-control" id="question" ng-model="questionData.question" placeholder="Question" required>
                    </fieldset>


                    <fieldset class="form-group">
                      <label for="answer1">Answer 1</label>
                      <input name="a1" <input type="text" class="form-control" id="a1" ng-model="questionData.a1" placeholder ="answer 1" required >
                    </fieldset>

                    <fieldset class="form-group">
                       <label for="answer2">Answer 2</label>
                       <input name="a2" <input type="text" class="form-control" id="a2" ng-model="questionData.a2" placeholder ="answer 2" required >
                     </fieldset>

                     <fieldset class="form-group">
                       <label for="answer3">Answer 3</label>
                       <input name="a3" <input type="text" class="form-control" id="a3" ng-model="questionData.a3" placeholder ="answer 3" required >
                     </fieldset>

                    <fieldset class="form-group">
                       <label for="answer4">Answer 4</label>
                       <input name="a4" <input type="text" class="form-control" id="a4" ng-model="questionData.a4" placeholder ="answer 4" required >
                     </fieldset>

                    <button class="addquestion" type="submit" ng-click="updateButtonQ()" ng-disabled="addQuestion.$invalid"> Add this Question</button>

                    <div ng-show="updatedq" class="help-block">New Question Added!</div>

                </form>
<!--                 <div>{{ questions }}</div>  -->
              </div>
            </div>
          </section>    