<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-big">
        <br>
        <h3>{{quizData[0].quiz_name}}</h3>
        <h5>Quiz number {{quizData[0].quiz_id}}</h5>
        {{quizData[0].quiz_desc}}
  </a>
</div>

<form class="search-bar" role="search">
  <input type="text" id="search" placeholder="Search Questions" ng-model="search" />
  <button type="submit">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
  </button>
 </form> 
  

<div class="ind-questions">
  <a href="#/singlequiz/{{quiz.quiz_id}}" class="ind-question" ng-repeat="item in quizData | filter:search">
      <h1>{{item.question}}?</h1>
        <p>1) {{item.a1}}<br>
           2) {{item.a2}}<br>
           3) {{item.a3}}<br>
           4) {{item.a4}}<br>
        </p>
  </a>
</div>
