<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <br>
    <h3>A quiz module for anyone with Alexa</h3>
    <p>As you know, Alexa is a great addition to the household. There are a lot of quiz skills out there, but you can't create your own unless you know how to program, get it submitted and approved by Amazon etc.</p> 

    <p> Study Buddy lets you create your own quizzes for Alexa. It you are studying for a test, just enter in your information and you can practice with Alexa. Or create fun quizzes for your friends.</p> 
  </div>
</div>   



