
<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h1>A quiz creator for anyone with Alexa</h1>
        <p>As you know, Alexa is a great addition to the household. There are a lot of quiz skills out there, but you can't create your own unless you know how to program and then get your quiz submitted and approved by Amazon.</p> 

        <p> Study Buddy lets you create your own quizzes for Alexa by filling out simple forms. If you are an auditory learner, or want a different way to study besides flipping through another pile of flash cards, this is a great way to practice for a test!<p>

        <p>You can also create fun trivia style quizzes for your friends and family.  All quizzes created by the community are available to try. 
        Give it a whirl - just say "Alexa, Study Buddy!"</p>
   </div>
  </div>
</div>