
<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h1>A quiz module for anyone with Alexa</h1>
      <p>As you know, Alexa is a great addition to the household. There are a lot of quiz skills out there, but you can't create your own unless you know how to program, get it submitted and approved by Amazon etc.</p> 

      <p> Study Buddy lets you create your own quizzes for Alexa. It you are studying for a test, just enter in your information and you can practice with Alexa. Or create fun quizzes for your friends.</p>
   </div>
  </div>
</div>