<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <br>
    <h3>A quiz module for anyone with Alexa</h3>
    <h4>To get started, say "Alexa, launch study buddy". She will ask you for a quiz number, just say the number and the quiz will launch.</h4>
<form class="search-bar" role="search">
  <input type="text" placeholder="Enter Search" id="search" placeholder="Search for a Quiz" ng-model="search" />
  <button type="submit">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
  </button>
 </form> 
  </div>
</div>   

<div class="grid-items">
  <a href="#/singlequiz/{{quiz.quiz_id}}" class="grid-item" ng-repeat="quiz in quizData | filter:search">

    <h1>{{quiz.quiz_id}}</h1>
    <h1>{{quiz.quiz_name}}</h1>
    <p> {{quiz.quiz_desc}}<br>
        tags: {{quiz.quiz_tags}}<br>
        by:  {{quiz.fname}}<br>
        added: {{quiz.created | date}}</p>
  </span>      
  </a>
</div>

