     
    
    <div class = "home-margin">
    <img src="/images/alexa_study_buddy.png" alt="Alexa Study Buddy" class="home-img">
     <div class="home-page-content"> 
        <h1>Welcome to Study Buddy, a multiple choice style quiz creator for Alexa and the Amazon Echo.</h1>
        <p>To begin a quiz, say <strong>"Alexa, Launch Study Buddy"</strong>. She will ask you for a quiz number, say the number of the quiz you would like to try and the questions will begin!</p> 

        <p> Study Buddy lets you create your own quizzes for Alexa. It you are studying for a test, just enter in your information and you can practice with Alexa. Or create fun quizzes for your friends.</p>

        <p>Creating your own quiz is simple - all you need an account (and Alexa). <a href = "/#/login">Register or Login</a> to get started</p>
    </div>
   </div> 


<form class="search-bar" role="search">
  <input type="text" id="search" placeholder="Search for a Quiz" ng-model="search" />
  <button type="submit">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
  </button>
 </form> 
<br>
<div class="grid-items">
  <a href="#/singlequiz/{{quiz.quiz_id}}" class="grid-item animate-repeat" ng-repeat="quiz in quizData | filter:search">

    <h2>{{quiz.quiz_id}}</h2>
    <h1>{{quiz.quiz_name}}</h1>
    <p> {{quiz.quiz_desc}}<br>
        tags: {{quiz.quiz_tags}}<br>
        by:  {{quiz.fname}}<br>
        added: {{quiz.created | date}}</p>    
  </a>
</div>

