body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.address_container {
  border: 1px solid green;
  padding: 20px;
  margin 20px;
}

.image {
  width: 100px;
  float: left;
  padding: 10px;
}

label {
  margin-left: 15px;
}