
<br><br>
<div class="flex-boxes">
  <div class="flex-box flex-box-middle">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
    <h1 class="flex-title">Login</h1>
      <br><br>
        <form class="form" ng-submit="login()" role="form">
          <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for "email">Email</label>
            <input ng-model="user.email" name="email" id="email" class="form-control" type="email" required>
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
          </div>
          <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
          </div>
          <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button><br><br>
            <div ng-if="error" class="help-block">{{error}}</div>
            <a href="#/register" class="btn btn-link">No Account Yet? Register</a>
        </div>
      </form>
    </div>
</div>







